In [1]:
1+1

2

In [3]:
print(6/3)
print(1.2+1.3)

2.0
2.5

In [6]:
type(0.5)

float

In [9]:
type("harry potter")

str

In [10]:
a = 8

In [11]:
number = 99

In [12]:
N = 99

In [14]:
3q=7

SyntaxError: invalid syntax (<ipython-input-14-06c9a124e964>, line 1)

In [15]:
type(True)

bool

In [17]:
a = 3
b= 4

In [18]:
if a==b:
    print("a equals b")
else:
    print("a is not b")

a is not b

In [19]:
3==3

True

In [20]:
3==4

False

In [21]:
a = 5
b = 4

In [22]:
if a==b:
    print("a is equal to b")
else:
    print("a is not equal to b")

a is not equal to b

In [23]:
3%2

1

In [24]:
4%2

0

In [25]:
life =42

In [26]:
f" The meaning of life is {life}"

' The meaning of life is 42'

In [31]:
a = range(5)

In [33]:
[01234]

1

In [34]:
i = 0
while i < 3:
    print(i)
    i += 1 #i = i+1

0
1
2

In [ ]:
range(101)

In [36]:
for num in range(101):
    if num%2 ==0:
        print(bin(num))
    else:
        pass

0b0
0b10
0b100
0b110
0b1000
0b1010
0b1100
0b1110
0b10000
0b10010
0b10100
0b10110
0b11000
0b11010
0b11100
0b11110
0b100000
0b100010
0b100100
0b100110
0b101000
0b101010
0b101100
0b101110
0b110000
0b110010
0b110100
0b110110
0b111000
0b111010
0b111100
0b111110
0b1000000
0b1000010
0b1000100
0b1000110
0b1001000
0b1001010
0b1001100
0b1001110
0b1010000
0b1010010
0b1010100
0b1010110
0b1011000
0b1011010
0b1011100
0b1011110
0b1100000
0b1100010
0b1100100

In [ ]:
range(101)

In [37]:
for num in range(101):
    if num%2 ==0:
        print(bin(num))
    else:
        pass

0b0
0b10
0b100
0b110
0b1000
0b1010
0b1100
0b1110
0b10000
0b10010
0b10100
0b10110
0b11000
0b11010
0b11100
0b11110
0b100000
0b100010
0b100100
0b100110
0b101000
0b101010
0b101100
0b101110
0b110000
0b110010
0b110100
0b110110
0b111000
0b111010
0b111100
0b111110
0b1000000
0b1000010
0b1000100
0b1000110
0b1001000
0b1001010
0b1001100
0b1001110
0b1010000
0b1010010
0b1010100
0b1010110
0b1011000
0b1011010
0b1011100
0b1011110
0b1100000
0b1100010
0b1100100